[data-theme="cyantrix-theme"] {
  --background: oklch(0.9858 0.0074 197.0363);
  --foreground: oklch(0.2193 0.0351 204.5639);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2193 0.0351 204.5639);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2193 0.0351 204.5639);
  --primary: oklch(0.5928 0.1053 216.1153);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9394 0.0389 206.4883);
  --secondary-foreground: oklch(0.2193 0.0351 204.5639);
  --muted: oklch(0.96 0.0204 208.141);
  --muted-foreground: oklch(0.5013 0.031 205.0103);
  --accent: oklch(0.8964 0.0547 204.8474);
  --accent-foreground: oklch(0.2497 0.0399 203.1284);
  --destructive: oklch(0.5502 0.22 25.0385);
  --destructive-foreground: oklch(1 0 0);
  --success: oklch(0.6 0.15 145);
  --success-foreground: oklch(1 0 0);
  --border: oklch(0.8902 0.0299 204.4875);
  --input: oklch(0.8902 0.0299 204.4875);
  --ring: oklch(0.5928 0.1053 216.1153);
  --chart-1: oklch(0.5928 0.1053 216.1153);
  --chart-2: oklch(0.7146 0.1219 195.4556);
  --chart-3: oklch(0.8455 0.0957 184.677);
  --chart-4: oklch(0.4852 0.0978 231.0269);
  --chart-5: oklch(0.6187 0.1293 233.8836);
  --sidebar: oklch(0.3217 0.0391 205.8863);
  --sidebar-foreground: oklch(0.9787 0.0096 204.9163);
  --sidebar-primary: oklch(0.6342 0.1079 197.167);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.3829 0.0437 204.4366);
  --sidebar-accent-foreground: oklch(0.9787 0.0096 204.9163);
  --sidebar-border: oklch(0.3829 0.0437 204.4366);
  --sidebar-ring: oklch(0.6342 0.1079 197.167);
  --font-sans: Oxanium, ui-serif, serif;
  --font-serif: Inika, ui-serif, serif;
  --font-mono: Kode Mono, ui-monospace, monospace;
  --radius: 0.225rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 20px;
  --shadow-spread: -3.5px;
  --shadow-opacity: 0.57;
  --shadow-color: #143b52;
  --shadow-2xs: 0px 2px 20px -3.5px hsl(202.2581 60.7843% 20% / 0.28);
  --shadow-xs: 0px 2px 20px -3.5px hsl(202.2581 60.7843% 20% / 0.28);
  --shadow-sm:
    0px 2px 20px -3.5px hsl(202.2581 60.7843% 20% / 0.57),
    0px 1px 2px -4.5px hsl(202.2581 60.7843% 20% / 0.57);
  --shadow:
    0px 2px 20px -3.5px hsl(202.2581 60.7843% 20% / 0.57),
    0px 1px 2px -4.5px hsl(202.2581 60.7843% 20% / 0.57);
  --shadow-md:
    0px 2px 20px -3.5px hsl(202.2581 60.7843% 20% / 0.57),
    0px 2px 4px -4.5px hsl(202.2581 60.7843% 20% / 0.57);
  --shadow-lg:
    0px 2px 20px -3.5px hsl(202.2581 60.7843% 20% / 0.57),
    0px 4px 6px -4.5px hsl(202.2581 60.7843% 20% / 0.57);
  --shadow-xl:
    0px 2px 20px -3.5px hsl(202.2581 60.7843% 20% / 0.57),
    0px 8px 10px -4.5px hsl(202.2581 60.7843% 20% / 0.57);
  --shadow-2xl: 0px 2px 20px -3.5px hsl(202.2581 60.7843% 20% / 1.42);
  --tracking-normal: 0em;
  --spacing: 0.17rem;
}

[data-theme="cyantrix-theme"].dark {
  --background: oklch(0.119 0.0164 204.6668);
  --foreground: oklch(0.9514 0.0096 196.9952);
  --card: oklch(0.1609 0.0212 206.8067);
  --card-foreground: oklch(0.9514 0.0096 196.9952);
  --popover: oklch(0.1388 0.0179 202.3089);
  --popover-foreground: oklch(0.9514 0.0096 196.9952);
  --primary: oklch(0.7603 0.1296 196.0412);
  --primary-foreground: oklch(0.1476 0.0203 207.548);
  --secondary: oklch(0.2206 0.0241 204.8689);
  --secondary-foreground: oklch(0.9514 0.0096 196.9952);
  --muted: oklch(0.2005 0.0207 201.1642);
  --muted-foreground: oklch(0.65 0.0252 203.275);
  --accent: oklch(0.2809 0.0459 194.8596);
  --accent-foreground: oklch(0.9514 0.0096 196.9952);
  --destructive: oklch(0.5996 0.2197 25.0854);
  --destructive-foreground: oklch(1 0 0);
  --success: oklch(0.6663 0.1706 145);
  --success-foreground: oklch(1 0 0);
  --border: oklch(0.2581 0.024 204.7439);
  --input: oklch(0.2581 0.024 204.7439);
  --ring: oklch(0.7603 0.1296 196.0412);
  --chart-1: oklch(0.7603 0.1296 196.0412);
  --chart-2: oklch(0.6668 0.115 209.02);
  --chart-3: oklch(0.5601 0.0992 184.0026);
  --chart-4: oklch(0.7899 0.1297 214.8649);
  --chart-5: oklch(0.7092 0.1415 230.1207);
  --sidebar: oklch(0.1003 0.012 213.9613);
  --sidebar-foreground: oklch(0.9799 0.0074 197.0354);
  --sidebar-primary: oklch(0.7603 0.1296 196.0412);
  --sidebar-primary-foreground: oklch(0.1476 0.0203 207.548);
  --sidebar-accent: oklch(0.1807 0.0258 204.3126);
  --sidebar-accent-foreground: oklch(0.9799 0.0074 197.0354);
  --sidebar-border: oklch(0.1801 0.0191 207.9996);
  --sidebar-ring: oklch(0.7603 0.1296 196.0412);
  --font-sans: Oxanium, ui-serif, serif;
  --font-serif: Inika, ui-serif, serif;
  --font-mono: Kode Mono, ui-monospace, monospace;
  --radius: 0.225rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 30px;
  --shadow-spread: -3.5px;
  --shadow-opacity: 0.57;
  --shadow-color: #047a7c;
  --shadow-2xs: 0px 2px 30px -3.5px hsl(181 93.7500% 25.0980% / 0.28);
  --shadow-xs: 0px 2px 30px -3.5px hsl(181 93.7500% 25.0980% / 0.28);
  --shadow-sm:
    0px 2px 30px -3.5px hsl(181 93.7500% 25.0980% / 0.57),
    0px 1px 2px -4.5px hsl(181 93.7500% 25.0980% / 0.57);
  --shadow:
    0px 2px 30px -3.5px hsl(181 93.7500% 25.0980% / 0.57),
    0px 1px 2px -4.5px hsl(181 93.7500% 25.0980% / 0.57);
  --shadow-md:
    0px 2px 30px -3.5px hsl(181 93.7500% 25.0980% / 0.57),
    0px 2px 4px -4.5px hsl(181 93.7500% 25.0980% / 0.57);
  --shadow-lg:
    0px 2px 30px -3.5px hsl(181 93.7500% 25.0980% / 0.57),
    0px 4px 6px -4.5px hsl(181 93.7500% 25.0980% / 0.57);
  --shadow-xl:
    0px 2px 30px -3.5px hsl(181 93.7500% 25.0980% / 0.57),
    0px 8px 10px -4.5px hsl(181 93.7500% 25.0980% / 0.57);
  --shadow-2xl: 0px 2px 30px -3.5px hsl(181 93.7500% 25.0980% / 1.42);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
